<!-- BEGIN CONTAINER -->
@model IEnumerable<HomeFoodies.Models.ProductsCategories>


<div class="page-container container-margin">

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">

            <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                @foreach(var item in Model)
                { 
                <li class="start active ">
                    @Html.ActionLink(item.ItemCategoryDesc, "Search", "Products", new { itemcategoryid = item.ItemCategoryID, supplierid = 0, supplierregion = item.SupplierRegion, itemname = "" }, htmlAttributes: new { @class = "" })
                </li>
                }
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->

    <div class="page-content-wrapper wrapper-width">
        <div class="page-content">

