<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-HomeFoodies-20151110102021.mdf;Initial Catalog=aspnet-HomeFoodies-20151110102021;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SupplierContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=SupplierContext-20151114043525; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SupplierContext-20151114043525.mdf" providerName="System.Data.SqlClient" />
    <add name="HomeFoodies" connectionString="metadata=res://*/Models.EFModelHomeFoodies.csdl|res://*/Models.EFModelHomeFoodies.ssdl|res://*/Models.EFModelHomeFoodies.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZAIN\SQLEXPRESS;initial catalog=HomeFoodies;persist security info=True;user id=sa;password=password2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HomeFoodiesEntities" connectionString="metadata=res://*/Models.EFHomeFoodies.csdl|res://*/Models.EFHomeFoodies.ssdl|res://*/Models.EFHomeFoodies.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZAIN\SQLEXPRESS;initial catalog=HomeFoodies;persist security info=True;user id=sa;password=password2012;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GCMRegistrationID" value="APA91bGuUW6BJ1yGTD0_Hjzv9W7goo0io6cpojkUxL5BFtzH7P9Dw0U9vJ2LL3JnvqS-jttPjw7En8QyvHRFVmg05RvosONjzvjZpt0KG6W6x-KgFevipXRUHU40dKLBXx4NlH8FCvS91kmz8AmIEjkyRzyVVV7aRA"/>
    <add key="GCMSenderID" value="810745882109"/>
    <add key="GCMAPIKey" value="AIzaSyD9PBXmWPKpGrx7UC5KGf3yBdWMtJezYo4"/>
    <add key="EmailID" value="homefoodiesonline@gmail.com"/>
    <add key="EmailPassword" value="home@foodies@online!"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>