/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/


.body-color {
    background-color: #FDFDFD !important;
}
header {
}

.page-header.navbar-new {
    width: 100%;
    min-width: padding: 0 20px 0 20px !important;
    margin: 0;
    border: 0px;
    padding: 0px;
    box-shadow: none;
    height: 450px;
    min-height: 450px;
    filter: none;
}


.banner {
    background-image: url("../img/banner3.jpg") !important;
    height: 400px;
    position: relative;
}

    .banner > img {
        width: 100%;
        height: auto;
    }

    .banner > .content {
        position: absolute;
        bottom: 0;
        overflow: auto;
    }

.header > img {
    width: 100%;
    height: auto;
}

.header > .content {
    position: absolute;
    bottom: 0;
    overflow: auto;
}

.form-group-search {
}

.row-menu {
}


.form-control-search {
    display: block;
    width: 100%;
    height: 42px;
    padding-left: 35px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.input-icon-search > i {
    color: #ccc;
    display: block !important;
    position: absolute;
    margin: 13px 2px 4px 10px !important;
    z-index: 3;
    width: 16px;
    font-size: 25px !important;
    text-align: center;
}

.navbar-default-new {
    background-color: none !important;
    border-color: none !important;
}

.button-menu {
    height: 40px;
    width: 100px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 6px !important;
}

.custom-toggle {
    background-color: black !important;
    border: 0px solid transparent;
}



.responsive-menu {
    border-radius: 3px;
    border-color: white !important;
    background-color: white !important;
}

.search-button {
    margin-left: 7px !important;
    height: 42px !important;
}

.search-style {
    background-color: #424242 !important;
    padding-left: 2px;
    padding-right: 20px;
    padding-bottom: 7px;
    margin-top: 150px;
    border-radius: 7px !important;
}

.search-heading {
    font-size: 16px;
    color: white;
}

.orange-btn {
    background-color: #FF5722 !important;
    color: #FFFFFF !important;
}

.font-input {
    font-size: 16px !important;
}



@media (min-width: 768px) {
    .modal-login-resized {
        width: 450px !important;
    }
}

@media (min-width: 768px) {
    .modal-verify-resized {
        width: 450px !important;
    }
}




.user-image {
    margin-left: 30px !important;
    margin-top: -18px !important;
}

.val-error {
    background-color: red;
    color: white;
    padding-left: 10px !important;
    padding-right: 13px !important;
}


.data-table {
    padding-top: 15px !important;
}

.item-thumbnail {
    /*padding-top: 10px !important;
    padding-bottom: 30px !important;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.pro-data {
    margin-top: -108px;
    color: #ffffff;
    background-color: #000000 !important;
}

.f-pro-data {
    margin-top: -110px;
    color: #ffffff;
    background-color: #000000 !important;
}

.pro-in {
    border: 3px solid #ff5722;
    padding: 5px;
    padding-bottom: 12px;
    border-radius: 10px !important;
}

.pro-data-in {
    background-color: rgba(29, 29, 26, 0.7);
    position: relative;
    width: 94%;
    margin-left: 5px;
}

.item-name {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: bold;
}

.item-category {
    padding-left: 10px;
    padding-top: 5px;
    font-family: fantasy;
    font-size: 15px;
    font-weight: 100;
}

.item-price {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;
    font-family: cursive;
    padding-bottom: 10px;
}

.wrapper {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.top-margin {
    margin-top: 10px;
}

.container-margin {
    /*margin-top: 80px !important;*/
}

@media (min-width: 992px) {
    .wrapper-width {
        width: 78% !important;
        padding-right: 20px !important;
    }
}

@media (max-width: 480px) {
    .wrapper-width {
        width: 100% !important;
    }
}

.imagePreview {
    margin-top: 10px;
}

    .imagePreview img {
        margin: 10px;
    }

article.styled .imagePreview img {
    padding: 15px;
    border: 2px dashed #ccc;
    border-radius: 10px;
}


.custom-sidebar-right {
    width: 325px !important;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    /*border: 3px dotted #ff5722;*/
    background: #f2f6f9 !important;
}

@media screen and (max-width: 767px) {
    .custom-noborder {
        border: 0px solid #ddd !important;
    }
}

.portlet-title-color {
        background-color: #ff5722 !important;
}

.validation-error {
    padding-left: 15px;
    color: #FF5722;
    font-size: 15px;
    font-weight: 600;
    margin-top: -6px;
}

.modal-login-height {
   height: 298px !important;
}

.custom-modal-footer {
    padding: 0px !important;
    padding-right: 15px !important;
    
}

.cart-name {
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
}


.cart-total {
    font-size: 16px;
    font-family: 'Play', sans-serif;
}

.has-error {
    color: #FF5722 !important;
}

.c-form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 93%;
    margin-bottom: 0;
    height: 41px;
    margin-left: 36px;
}

.option {
    font-size: 16px !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    margin-left: 50px;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.icon-position {
    margin-left: -20px !important;
}